# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/
.env

# Node / Vue
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache

# Docker
.docker/

# Databases (Postgres data is in a volume, but if you have local dumps)
postgres_data/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
